@font-face {
  font-family: 'atlantisci';
  src: local('atlantisci'), url(./fonts/atlantis-the-lost-ci.woff) format('woff');
}

@font-face {
  font-family: 'atlantisregular';
  src: local('atlantisregular'), url(./fonts/atlantis_the_lost_cityregular.woff2) format('woff2');
}

@font-face {
  font-family: 'dancingscripts';
  src: local('dancingscripts'), url(./fonts/dancingscripts.woff2) format('woff2');
}

@font-face {
  font-family: 'opensans';
  src: local('opensans'), url(./fonts/opensans.woff2) format('woff2');
}

@font-face {
  font-family: 'pangolin';
  src: local('pangolin'), url(./fonts/pangolin.woff2) format('woff2');
}

/*// HEADER CSS*/
.component-header {
  box-shadow: 0 7px 4px 0 rgb(0 0 0 / 59%);
  background: #fff;
  z-index: 33;
  margin-bottom: 6px;
  position: absolute;
  width: 100%;
  top: 0;
}

.component-header .section {
  margin: 0 auto;
  position: relative;
  max-width: 1170px;
  padding: 7px 0;
}

.section {
  margin: 0 auto;
  position: relative;
  max-width: 1170px;
  padding: 20px 0;
}

.logo {
  width: 176px;
  display: inline-flex;
}

.logo img {
  width: 150px;
  padding: 4px 0 6px 0;
}

.menu {
  display: inline-flex;
  vertical-align: top;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-flex;
  margin: 0px 10px;
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: 100;
  height: 100px;
  text-transform: uppercase;
  align-items: center;
  color: #000;
}

.menu a {
  color: #000;
  text-decoration: none;
  font-family: 'opensans';
  font-size: 15px!important;
}

.menu a:hover {
  color: #b71c2d;
}



/*SLIDER*/
.component-slider {
  background-position: center 0px !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed !important;
  background-image: url(https://socity.ci/wp-content/uploads/2019/07/bgk.jpg);
  /*background: linear-gradient( 
2deg
, rgb(255 255 255) 37%, rgb(255 0 150 / 0%) 38%), url(https://socity.ci/wp-content/uploads/2019/07/bgk.jpg);*/
  background-size: cover;
  margin-top: 106px;
  max-height: 900px;
}

.component-slider .right {
  float: right;
  padding-top: 30px;
}

.component-slider .right img {
  width: 285px;
}

.right {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
  text-align: center;
  width: 510px;
}

.component-slider .left {
  max-width: 40%;
  display: inline-block;
}

.left img {
  max-width: 414px;
  vertical-align: bottom;
}

.right {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
  text-align: center;
}

.component-slider .right h1 {
  margin-top: .25em;
  font-family: 'atlantisci' !important;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right h1 strong {
  font-family: 'atlantisregular' !important;
  font-size: 55px;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
}

.component-slider .right h2 {
  font-family: "opensans" !important;
  font-size: 23px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.bton {
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.buton img {
  width: 30px!important;
}

.buton a {
  font-family: "opensans";
  font-size: 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -.25px;
  font-weight: 800 !important;
  font-style: normal;
  background: #fff;
  border-color: #fff !important;
  color: #ba0029 !important;
  height: 64px;
  border-radius: 8px !important;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  background-color: #ffffff;
  padding: 0 30px;
  margin: 10px 0;
  text-decoration: none;
}

.buton a img {
  margin-right: 15px;
}

.bton button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 20px;
  justify-content: center;
  letter-spacing: -.25px;
  font-weight: 800 !important;
  font-style: normal;
  background: #fff;
  border-color: #fff !important;
  color: #ba0029 !important;
  height: 64px;
  border-radius: 8px !important;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  background-color: #ffffff;
}

/*SECTION CSS*/

.component-section {
  margin: 0 auto;
  background: url('/src/img/background.png') no-repeat;
  background-position: center 102%;
}

.section.droite .right {
  float: left;
}
.section.droite .left {
  float: right;
}

.section.droite {
  height: 700px;
}

.component-section .left img {
  max-width: 540px;
  width: 540px;
}

.component-section .left {
  display: inline-block;
}

.component-section .right h2 {
  font-size: 38px !important;
  line-height: 1 !important;
  display: flex;
  flex-wrap: wrap;
  color: #ba0029;
  font-family: 'atlantisci';
  font-weight: 400;
  margin: 15px 0;
}

.separation {
  height: 4px;
  border-left: solid 40px black;
}

p {
  font-family: "opensans";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: normal;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.component-section .right img {
  width: 50px;
}

.component-section .right {
    text-align: left;
    float: right;
    width: 460px;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component-section .gauche:last-of-type h2, .component-section .gauche:last-of-type p {
  color: #fff;
}

.component-bonsplans .section {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
}

.component-bonsplans p {
  width: 220px;
  text-align: center;
  margin: 0 auto;
  font-family: "opensans", sans-serif, Arial, Helvetica;
  font-size: 15px !important;
  line-height: 27px;
  font-weight: 300;
  font-style: normal;
  color: #000;
  max-width: 325px;
  display: inline-flex;
}

.component-bonsplans h2 {
  font-family: 'atlantisci';
  font-size: 38px !important;
  font-weight: normal;
  font-style: normal;
  margin: 10px 0;
}

.component-bonsplans .section img {
  width: 90px;
}

.component-bonsplans div div {
  min-width: 310px;
  margin: 0 0 50px 0;
}

.component-bonsplans .section img {
  width: 90px;
}

.sortir h2 {
  color: #b71c2c;
}
.dormir h2 {
  color: #32b197;
}
.acheter h2 {
  color: #7b1f65;
}
.evenements h2 {
  color: #243324 ;
}

.component-pied .left {
  width: 40%;
  display: inline-block;
}

.component-pied .right {
  text-align: left;
}

.component-pied .right img {
  width: 60px;
}

.component-pied .right h2 {
  font-family: 'atlantisregular' !important;
  font-size: 38px !important;
  line-height: 1 !important;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}

.component-pied .right h2 {
  font-family: 'atlantisregular' !important;
  font-size: 38px !important;
  line-height: 1 !important;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  margin: 15px 0 20px 0;
}

.component-pied .right {
  text-align: left;
  float: right;
  width: 590px;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component-bonsplans {
  background: rgba(216, 216, 216, 0.2);
  padding: 0px 14%;
}

@media screen and (min-width: 1600px) {
  .component-bonsplans {
    background: rgba(216, 216, 216, 0.2);
    padding: 0px 22%;
  }

}

.component-pied .section {
  padding-bottom: 0;
}

.component-pied .left img {
  max-width: 414px;
  display: inline-block;
  position: absolute;
  left: 18%;
}